.App {
	display: flex;
	background-color: #145b84;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 70px;
	background-color: #12253b;
	border-radius: 30px;
}

.login-form h1 {
	color: white;
}

.login-form input {
	/* background-color: red; */
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin-left: 1rem;
}

.login-email {
	padding: 15px;
	border-radius: 5px;
	background-color: #145b84;
	margin-bottom: 1rem;
}

.login-password {
	padding: 15px;
	border-radius: 5px;
	background-color: #145b84;
	margin-bottom: 1rem;
}

.login-password span {
	color: white;
}

.login-email span {
	color: white;
}

.login-button {
	padding: 15px;
	color: #145b84;
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	font-weight: bold;
}