/* HEADER COMPONENT */
.header {
  align-items: center;
  background-color: #12253b;
  color: white;

  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
}

.header span {

  /* margin-left: 1rem; */
}

.user-info {
  margin-right: 3rem;
}

.user-email {
  margin-right: 1rem;
}

.title {
  margin-left: 3rem;
}

/* FORM COMPONENT */
.form-main {
  background-color: #145b84;
  margin-bottom: 1rem;

  /* height: 100vh; */
}

.form-inputs {
  align-items: center;
  display: flex;
  font-size: medium;
  justify-content: space-evenly;
  padding: 1rem;
}

.form-inputs label {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.form-inputs label span {
  margin-right: 5px;
}

.form-inputs label input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.form-inputs label select {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.form-inputs button {
  border: 1px solid black;
  border-radius: 5px;
  font-size: medium;
  padding: 10px;
}

.form-inputs button:hover {
  background-color: #12253b;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: medium;

  /* padding: 10px; */
}

/* TABLE COMPONENT */
.table-expenses {
  align-items: center;

  /* border: 2px solid #145b84; */
  color: white;
  margin: 0;

  /* background-color: red; */
  text-align: center;
  width: 100%;
}

.table-expenses th {
  align-items: center;
  background-color: #145b84;
  padding: 10px;

  /* border: 2px solid black; */
  text-align: center;
}

.table-expenses tr {
  align-items: center;
  background-color: #145b84;
  font-size: medium;

  /* border: 2px solid black; */
  text-align: center;
}

.wallet-container {
  background-color: #12253b;
  height: 100vh;
}
